extends /views/common/layout.jade

block css
  link(rel="stylesheet" href="/style/store.css")

block js
  script(type="text/javascript" src="/javascripts/store.js" defer)

block content
  group
    .group_title
      p= "magazines"
    .group_content#group_magazines
      each magazines in content.magazines
        a(href=magazines.link target="_blank" style={"background-image" : "url(\"../../images/store/magazines/#{magazines.image}\")"})
  group
    .group_title
      p= "dcs modules"
    .group_content#group_modules
      each module in content.modules
        a(href=module.link target="_blank" style={"background-image" : "url(\"../../images/store/modules/#{module.image}\")"})
  group
    .group_title
      p= "merchandise"
    .group_content#group_merchandise
      each merch in content.merchandise
        a(href=merch.link target="_blank" style={"background-image" : "url(\"../../images/store/merchandise/#{merch.image}\")"})
